<div class="col-xs-12">
	<span><i class="fa fa-file fa-lg"></i></span>
	<span class="language en-GB"><a href='{{root}}{{actor.url}}'>{{actor.name}}</a> added a report <a href='{{root}}{{object.url}}'>{{object.name}}</a> for <a href='{{root}}{{target.url}}' target='_blank'>{{target.name}}</a></span>
	<hr style="margin-top:10px; margin-bottom:10px;"></hr>
</div>
